@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-6">Prodigy Scout</h2>
    <h6>Connecting Students and Recruiters</h6>
    <hr />
    <p>
        
    </p>
</div>
