@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<div class="text-left">
    <h2 class="display-6">Prodigy Scout</h2>
    <h6>Connecting Students and Recruiters</h6>
    <hr />
    <p>
        
    </p>
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> parent of e13520a (Ref #4 Added Product Vision and Value Proposition to Repos. Updated ReadME as well)
</div>
