@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-6">Prodigy Scout</h2>
    <h6>Connecting Students and Recruiters</h6>
    <hr />
    <p>
        Enhancing recruitment by providing recruiters with comprehensive student profiles, enabling proactive engagement and informed decision-making before career fairs.
    </p>

    <img style="width:100%;" src="~/logo_head.png" />
    <hr />
     
    <h4 class="display-8">Product Vision</h4>
    <hr />
    <p>
        Our web app revolutionizes the recruitment process by providing recruiters with comprehensive profiles of students attending career fairs. 
        Through our platform, recruiters gain valuable insights into students' skills and backgrounds, enabling them to make informed decisions and 
        establish meaningful connections before the event. By facilitating proactive engagement between recruiters and students, we aim to optimize 
        the recruitment process for both parties.
    </p>

    <hr />

    <h4 class="display-8">Value Proposistion</h4>
    <hr />
    <p>
        Our web app empowers recruiters to make the most of career fairs by offering them access to detailed student profiles beforehand. 
        By providing insights into students' skills and backgrounds, recruiters can identify promising candidates and engage with them proactively. 
        With features such as messaging and commenting, recruiters can establish meaningful connections early on, saving time and resources while 
        maximizing recruitment outcomes.
    </p>

</div>
